.block__btn
    &__btn-login
        input
            appearance: none
            background: none
            border: none
            outline: none
            color: #FFFFFF
            width: 233px
            height: 56px
            background: #5C98F1
            border-radius: 8px
            font-style: normal
            font-weight: 00
            font-size: 15px
            line-height: 23px
            margin-top: 48px
            cursor: pointer
            &:hover
                background: #4583DE

// .btn
//     border-radius: 8px
//     cursor: pointer

// .btn--primary--solid
//     background-color: #4583DE
//     color: #641b1b

// .btn--warning--solid
//     background-color: #17396b
//     color: #b61a1a

// .btn--danger--solid
//     background-color: #030b18
//     color: #240404

// .btn--saccess--solid
//     background-color: #2b972b
//     color: #a88420

// .btn--primary--outline
//     background-color: #de4578
//     color: #649b1d

// .btn--warning--outline
//     background-color: #020c1a
//     color: #da5757

// .btn--danger--outline
//     background-color: #110114
//     color: #bda417

// .btn--saccess--outline
//     background-color: #9c0606
//     color: #661269
